<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ad_ids</key>
	<dict>
		<key>home</key>
		<!-- The below ad unit id is a test id. It is not necessary to replace this for development. -->
		<string>ca-app-pub-3940256099942544/2934735716</string>
	</dict>
</dict>
</plist>
