<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<!-- Replace with your twitter application if you are testing twitter login -->
				<string>twitterkit-yourAppKey</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<!-- Replace with your google client id if you are testing google login -->
				<string>com.googleusercontent.apps.yourClientId</string>
			</array>
		</dict>
	</array>
	<key>GADApplicationIdentifier</key>
	<!-- The below app id is a test id. It is not necessary to replace this for development. -->
	<string>ca-app-pub-3940256099942544~3347511713</string>
</dict>
</plist>
